---
// --- SECCION DE LOGICA (JS) ---
import {Image} from 'astro:assets';
import heroImage from '../assets/hero/img_hero_01.webp';

---
<section class="hero" id="hero">
    <Image src={heroImage} alt="Fondo de LuminaSystem" loading="eager" fetchpriority="high" class="hero-bg-img" />
    <div class="hero-content">
        <h1 class="name">LuminaSystem</h1>
        <h2 class="text-hero">Desarrollo de aplicaciones Web, Mobiles y Escritorio Freelancer</h2>
        <button class="action"><a class="ir-contact-form" href="#contact-form-section">Automatiza Tu Negocio Ya!!!</a></button>
    </div>
</section>

<style>
    /* --- SECCIÓN DE ESTILOS (CSS) --- */
    *{
        box-sizing: border-box;
    }
    
    .hero {
        height: 90vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.5);
    }

    .hero-content {
        position: relative;
        z-index: 1;
        margin: 40px;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        color: white;
    }

    .name, .text-hero {
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }

    .text-hero{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .action {
        margin: 10px;
        padding: 0;
        border: none;
        border-radius: 5px;
        background-color:rgb(241, 75, 75);
        box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.4);
        font-size: 18px;
        cursor: pointer;
    }

    .action:hover {
        background-color: white;
    }

    .ir-contact-form {
        display: block;
        padding: 15px 20px;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
    }

    .ir-contact-form:hover {
        color:rgb(224, 57, 57);
    }

</style>